<div class="container">
    <div id="loginForm" class="col-md-8 col-md-offset-2 indent-top-2x">
        <form autocomplete="on" class="form-horizontal" method="post" novalidate="novalidate">
            <div class="row">
                Sign In 
            </div>

            <div class="row indent-top-2x">
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="form-group">
                        <label for="Email" i18n>Email:</label>
                        <div>
                            <input class="form-control"
                                   id="Email"
                                   placeholder="Email address"
                                   name="email"
                                   [(ngModel)]="email"
                                   #emailVal="ngModel"
                                   type="text"
                                   required
                                   email/>
                            <div [hidden]="!emailVal.touched || emailVal.valid" class="has-error">
                                <label class="control-label" i18n>
                                    This field is not valid
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Password" i18n>Password:</label>
                        <div >
                            <input class="form-control"
                                   id="Password"
                                   placeholder="Password"
                                   name="password"
                                   [(ngModel)]="password"
                                   #passwordVal="ngModel"
                                   type="password"
                                   required>
                            <div [hidden]="passwordVal.pristine || passwordVal.valid" class="has-error">
                                <label class="control-label" [hidden]="!passwordVal.errors?.required" i18n>
                                    This field is required
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="ConfirmPassword" i18n>Confirm Password:</label>
                        <div >
                            <input class="form-control"
                                   id="ConfirmPassword"
                                   placeholder="ConfirmPassword"
                                   name="confirmPassword"
                                   [(ngModel)]="confirmpassword"
                                   #confirmPassword="ngModel"
                                   type="password"
                                   required>
                            <div [hidden]="confirmPassword.pristine || confirmPassword.valid" class="has-error">
                                <label class="control-label" [hidden]="!confirmPassword.errors?.required" i18n>
                                    This field is required
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Territory" i18n>Country:</label>
                        <select title="Pick a color" id="Territory" name="TerritoryId" [(ngModel)]="territoryid"  #territoryId="ngModel" class="form-control" >
                            <option *ngFor="let item of territories" [value]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right" [disabled]="passwordVal.invalid|| confirmPassword.invalid || emailVal.invalid" (click)="signUp()" i18n>Sign Up</button>
                        <a [routerLink]="['/auth']" i18n>Sign In</a>
                        <br/>
                    </div>
                </div>              
            </div>
        </form>
    </div>
</div>