<p *ngIf="!orderNumber"><em>Loading...</em></p>
<div class="card">
    <h5 class="card-header">{{orderNumber}}</h5>
    <div class="card-body">
        <p *ngIf="!products"><em>Loading...</em></p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Color</th>
                <th scope="col">Type</th>
            </tr>
            </thead>
            <tbody *ngFor="let product of products">
            <tr>
                <th scope="row">{{product.productNumber}}</th>
                <td>{{product.productName}}</td>
                <td>{{colorToString(product.productColor)}}</td>
                <td>{{typeToString(product.type)}}</td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" (click)="submitOrder(order.orderId)">Submit</button>
    </div>
</div>

