<h1>TOP 10</h1>

<p>This component demonstrates top10 the most used dresses.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Color</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.productNumber }}</td>
            <td>{{ forecast.productName }}</td>
            <td>{{colorToString(forecast.productColor)}}</td>
            <td>{{typeToString(forecast.type)}}</td>
        </tr>
    </tbody>
</table>
